/* Write your CSS code here. */

.emoji-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.emoji-item:hover {
  transform: scale(1.1);
}

img {
  width: 50px;
  height: 50px;
}

p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #1e293b;
}
